{% extends 'layout.html.twig' %}

{% block content %}
<body id="homepagebody">
    <section class="homepage">
        <div class="text-center mt-4">
            <div class="h1">Find an Antidote</div>
        </div>
        <div class="container-fluid text-center" id="main-div">
            <div class="row justify-content-center">
                <div class="col-4" id="left">
                    <div class="h3">You know the poison, look for the antidote</div>
                    <a href="poison/list">
                    <img src="/assets/images/homepage/potion-clipart.png" class="rounded float-left img-fluid" id="img-left" alt="potionimg">
                    </a>
                </div>
                <div class="col-4" id="right">
                    <div class="h3">You don't know the poison, search with yours symptoms</div>
                    <a href="/search/index">
                    <img src="/assets/images/homepage/question-mark.png" class="rounded float-left img-fluid" id="img-right" alt="questionmark">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center rounded" id="bottom-div">
        <h3>With find an antidote.com... <br> The poison is no more</h3>
    </div>
</body>
{% endblock %}
