{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h1 class="index-title" style="padding: 35px;">
            What's your problem ?
        </h1>
    </div>
    <div>
    <form class="container" id="search-form" action="/Search/show" method="post">
           {% for symptom in symptoms %}
               {% if symptom.id < 5 %}
        <button class="btn btn-light" style="width: 300px; margin: 25px" type="submit" value="{{ symptom.id }}" name="symptom"> {{ symptom.name|capitalize }}</button>
               {% endif %}
        {% endfor %}
    </form>
    </div>


{% endblock %}
