{%  extends layout.html.twig %}

{% block content %}
    {% for ... in ... %}
        {% if ...antidote === false %}
            <button><a href=""></a></button>
        {% else %}

        {% endif %}
    {%  endfor %}
{% endblock %}