
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#C0E7A8;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/">
    <img src="/assets/images/homepage/kisspng-potion-clip-art-potions-clipart-5ae088f824e059.9419272815246645681511.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">AntidoteFinder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Antidote</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/poison/list">Poison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">AntidoteMind</a>
            </li>
        </ul>
            <form class="form-inline" id="searchnav" action="/search/index">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
    </div>
</nav>