/*a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.card-custom {
    max-width: 540px;
}

.poison-card {
    border-radius: 5px;
    background-color: #fff7e0;
}

.poison-card:hover {
    background-color: #ffeaad;
}

.poison-image {
    width: 100px;
    height: 100px;
    margin: 15px;
}*/
