@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

#search-form {
    background-color: inherit;
    margin-top: 5%;
    text-align: center;
}

body {
    background-color: transparent;
}

body {
    font-family: 'Redressed', cursive;
    background-image: url("../images/homepage/background.jpg");
    background-size: cover;
}

.title-homepage {
    font-size: 10px;
}

#left {
    margin: 5px 5px 5px 0;
}
#right {
    margin: 5px 0 5px 5px;
}
#bottom-div {
    padding: 15px;
    background-color: #C0E7A8;
    margin-top: 10px;
    width: 80%;
}

#main-div {
    padding: 30px;
    width: auto;
}

@media screen and (min-width: 992px) {
    #searchnav {
        margin-left: auto;
    }
}

