{% extends 'layout.html.twig' %}

{% block content %}
    {% for poison in poisons %}
    <div class="container" style="max-width: 540px">
        <div class="row no-gutters mt-3 align-items-center" style="border-radius: 5px; background-color: #fff7e0">
            <div class="col-3" style="width: 100px; height: 100px; margin: 15px">
                <img src="{{ poison.image }}" alt="">
            </div>
            <div class="col" style="text-align: center">
                <h2>{{ poison.nom }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}